/*======================Fonts ======================*/



@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Lato');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');



body {



    font-family: 'Roboto', sans-serif;

    background-color: #f7f7f7;

    color: #000;

    background: url(../../../assets/images/box-bg.png) repeat;
    
    background-repeat: no-repeat;
    
    background-size:cover;
}

@font-face {

    font-family: helvatica-light;

    src: url(../images/HelveticaLTStd-Light_0.otf);

}

@font-face {

    font-family: helvatica-Bold;

    src: url(../images/HelveticaLTStd-Bold_0.otf);

}

@font-face {

    font-family: helvatica-Reguler;

    src: url(../images/HelveticaLTStd-Roman_0.otf);

}

.payment label{

    font-family: 'Open Sans', sans-serif;

    font-size: 14px;

}

.payment-way {

  border: 1px solid #ccc;

  padding: 28px;

  margin-top: 40px;

  margin-bottom: 40px;

  box-shadow: 0 0 10px 0 rgba(0,0,0,0.28);

  background: #fff;



}



.payment h3 {

    margin-bottom: 40px;

    margin-top: -28px;

    width: 104.5%;

    padding: 15px;

    margin-left: -16px;

    font-weight: 700;

    font-family: 'Open Sans', sans-serif;

    color: #fff;

    background: #13bfef;

    /*margin-top: 10px;*/

    margin-bottom: 10px;

    font-size: 20px;

    text-transform: uppercase;

}



.payment h3.m-1o {

    margin-bottom: 40px;

    margin-top: -28px;

    width: 108%;

    padding: 15px;

    margin-left: -28px;

    font-weight: 700;

    font-family: 'Open Sans', sans-serif;

    color: #fff;

    background: #13bfef;

    /*margin-top: 10px;*/

    margin-bottom: 10px;

    font-size: 20px;

    text-transform: uppercase;

}





.payment small {



font-size: 13px;



font-family: 'Open Sans', sans-serif;

}





.checkout-form-list  {



    margin-bottom: 20px;

}



.digi-form .checkout-form-list input[type="text"],  .digi-form .checkout-form-list input[type="number"], .digi-form .checkout-form-list input[type="password"], .digi-form .checkout-form-list input[type="email"],.digi-form .checkout-form-list input[type="date"] {

    border: 1px solid #bfbbbb;

    height: 40px;

    padding: 0 0 0 10px;

    width: 100%;

    outline: none;

    margin-bottom: 5px;

}

 .digi-form textarea {

    border: 1px solid #d8d8d8;

    height: 60px;

    padding: 10px;

    width: 100%;

    outline: none;

}



 .digi-form select {

    border: 1px solid #bfbbbb;

    height: 41px;

    padding-left: 10px;

    width: 100%;

    outline: none;

    margin-bottom: 20px;

}





.website  { margin-top: 20px; position: relative; }

.website h4 {margin-bottom: 15px;font-family: 'Open Sans', sans-serif;font-weight: 600;}

.digi-form  [type="radio"]:checked, [type="radio"]:not(:checked) {

    position: absolute;

    left: -9999px;

}



.digi-form [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {

    position: relative;

    padding-left: 28px;

    cursor: pointer;

    line-height: 20px;

    display: inline-block;

    color: #000000c2;

    font-size: 13px;

    font-family: 'Open Sans', sans-serif;

}

.digi-form [type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {

    content: '';

    position: absolute;

    left: 0;

    top: 0;

    width: 20px;

    height: 20px;

    border: 2px solid #bfbbbb;

    border-radius: 100%;

    background: #fff;

}



.digi-form [type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {

    content: '';

    width: 12px;

    height: 12px;

    background: linear-gradient(to bottom right,#13bfef 0,#13bfef 100%);

    position: absolute;

    top: 4px;

    left: 4px;

    border-radius: 100%;

    -webkit-transition: all 0.2s ease;

    transition: all 0.2s ease;

}





.digi-form [type="radio"]:not(:checked) + label:after {

    opacity: 0;

    -webkit-transform: scale(0);

    transform: scale(0);

}







.digi-form .btn {



background-color: #13bfef;

    padding: 10px 22px;

    text-transform: uppercase;

    color: #fff;

    border-radius: 0;

    font-weight: 700;

    transition: all 0.3s ease-in 0s;

}



.digi-form .btn:hover { 



background-color: #959499;

}



.ship-card ul { list-style: none;

    padding: 0;

    margin-bottom: 30px;

    overflow: hidden; }

.ship-card ul li {float: left;margin-right: 20px;margin-top: 10px;}







.payment hr {



    margin-top: 10px;

    margin-bottom: 10px;

}







/* The Modal (background) */

.s-chart .modal {

    display: none; /* Hidden by default */

    position: fixed; /* Stay in place */

    z-index: 1; /* Sit on top */

    padding-top: 80px; /* Location of the box */

    left: 0;

    top: 0;

    width: 100%; /* Full width */

    height: 100%; /* Full height */

    overflow: auto; /* Enable scroll if needed */

    background-color: rgb(0,0,0); /* Fallback color */

    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

        z-index: 99999;

            padding-bottom: 20px;

}



/* Modal Content */

.s-chart .modal-content {

    background-color: #fefefe;

    margin: auto;

    padding: 20px;

    border: 1px solid #888;

        width: 450px;

        height: 360px;

        z-index: 9999;

        text-align: center;

        box-shadow: 0 0 10px 0 rgba(0,0,0,0.28);

     

}



/* The Close Button */

.s-chart .close {

  color: #13bfef;

    font-size: 32px;

    font-weight: bold;

    margin-top: -63px;

    padding: 9px;

    z-index: 89335;

    position: absolute;

    right: 0px;

    opacity: 1;

    border-top-right-radius: 3px;

    width: 43px;

    height: 43px;

    text-align: center;

}





.s-chart .modal-content img {



margin-left: 31px;

    margin-top: 30px;

}





 #myBtn {

   background-color: #959499;

    margin-top: 29px;

    border: none;

    border-radius: 50%;

    padding: 0px 11px;

    font-size: 23px;

}





.com-content h4 {margin-bottom: 0;font-family: 'Open Sans', sans-serif;font-size: 15px;}



.com-content  a {text-decoration: none;color: #13bfef;border-bottom: 2px solid #13bfef;line-height: 51px;font-size: 14px;font-family: 'Open Sans', sans-serif;}

.com-content strong {



 color: #959499;

    font-size: 16px;

}







.payment input[type=text], textarea {

  -webkit-transition: all 0.30s ease-in-out;

  -moz-transition: all 0.30s ease-in-out;

  -ms-transition: all 0.30s ease-in-out;

  -o-transition: all 0.30s ease-in-out;

  outline: none;

  border: 1px solid #13bfef;

}

 

.payment input[type=text]:focus, textarea:focus {

    box-shadow: 0 0 5px rgb(233, 39, 51);

    border: 1px solid rgb(233, 39, 51);

}





.payment input[type=email], textarea {

  -webkit-transition: all 0.30s ease-in-out;

  -moz-transition: all 0.30s ease-in-out;

  -ms-transition: all 0.30s ease-in-out;

  -o-transition: all 0.30s ease-in-out;

  outline: none;

  border: 1px solid #13bfef;

}

 

.payment input[type=email]:focus, textarea:focus {

    box-shadow: 0 0 5px rgb(233, 39, 51);

    border: 1px solid rgb(233, 39, 51);

}



.payment input[type=date], textarea {

  -webkit-transition: all 0.30s ease-in-out;

  -moz-transition: all 0.30s ease-in-out;

  -ms-transition: all 0.30s ease-in-out;

  -o-transition: all 0.30s ease-in-out;

  outline: none;

  border: 1px solid #13bfef;

}

 

.payment input[type=date]:focus, textarea:focus {

    box-shadow: 0 0 5px rgb(233, 39, 51);

    border: 1px solid rgb(233, 39, 51);

}

.selected-item {

  margin: 20px 0;

  text-align: center;

}

.selected-item p {

  font-size: 18px;

}

.selected-item p span {

  font-weight: bold;

}

/* dropdown list */

.dropdown {

  margin: 0px auto;

  width: 100%;

  position: relative;

  -webkit-perspective: 800px;

  perspective: 800px;

  position: relative;

  z-index: 2;

  margin-top: 26px;

  margin: 0px;

  padding: 0;

  margin-top: 26px;

}

.dropdown.active .selLabel:after {

  content: '\25B2';

}

.dropdown.active .dropdown-list li:nth-child(1) {

  -webkit-transform: translateY(100%);

          transform: translateY(100%);

}

.dropdown.active .dropdown-list li:nth-child(2) {

  -webkit-transform: translateY(200%);

          transform: translateY(200%);

}

.dropdown.active .dropdown-list li:nth-child(3) {

  -webkit-transform: translateY(300%);

          transform: translateY(300%);

}

.dropdown.active .dropdown-list li:nth-child(4) {

  -webkit-transform: translateY(400%);

          transform: translateY(400%);

}

.dropdown > span {

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  width: 100%;

  height: 40px;

  line-height: 40px;

  color: #fff;

  font-size: 14px;

  letter-spacing: 2px;

  background: #13bfefd1;

  display: block;

  padding: 0 50px 0 30px;

  position: relative;

  z-index: 9999;

  cursor: pointer;

  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;

  -webkit-transform-origin: 50% 0%;

  transform-origin: 50% 0%;

  -webkit-transition: -webkit-transform 300ms;

  transition: -webkit-transform 300ms;

  transition: transform 300ms;

  transition: transform 300ms, -webkit-transform 300ms;

  -webkit-backface-visibility: hidden;

  -webkit-touch-callout: none;

  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  font-family: 'Open Sans', sans-serif;

  user-select: none;

}

.dropdown > span:after {

  content: '\25BC';

  position: absolute;

  right: 0px;

  top: 15%;

  width: 50px;

  text-align: center;

  font-size: 12px;

  padding: 10px;

  height: 70%;

  line-height: 11px;

  border-left: 1px solid #ddd;

}

.dropdown > span:active {

  -webkit-transform: rotateX(45deg);

          transform: rotateX(45deg);

}

.dropdown > span:active:after {

  content: '\25B2';

}

.dropdown-list {

  position: absolute;

  top: 0px;

  width: 100%;

}

.dropdown-list li {

  display: block;

  list-style: none;

  left: 0;

  opacity: 1;

  -webkit-transition: -webkit-transform 300ms ease;

  transition: -webkit-transform 300ms ease;

  transition: transform 300ms ease;

  transition: transform 300ms ease, -webkit-transform 300ms ease;

  position: absolute;

  top: 0;

  width: 100%;

}

.dropdown-list li:nth-child(1) {

  background-color: #ed4d57;

  z-index: 4;

  -webkit-transform: translateY(0);

  transform: translateY(0);

  border-bottom: 1px solid #fff;

}

.dropdown-list li:nth-child(2) {

  background-color: #ed4d57;

  z-index: 3;

  -webkit-transform: translateY(3%);

  transform: translateY(3%);

}

.dropdown-list li:nth-child(3) {

  background-color: #ed4d57;

  z-index: 2;

  -webkit-transform: translateY(6%);

  transform: translateY(6%);

}

.dropdown-list li:nth-child(4) {

  background-color: #ed4d57;

  z-index: 1;

  -webkit-transform: translateY(9%);

  transform: translateY(9%);

}

.dropdown-list li span {

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

  -webkit-backface-visibility: hidden;

  -webkit-touch-callout: none;

  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;

  width: 100%;

  font-size: 14px;

  line-height: 40px;

  padding: 0 30px;

  display: block;

  color: #fff;

  cursor: pointer;

  letter-spacing: 2px;

  border-bottom: 1px solid #fff;

  font-family: 'Open Sans', sans-serif;

}









.selected-item {

  margin: 20px 0;

  text-align: center;

}

.selected-item p {

  font-size: 18px;

}

.selected-item p span {

  font-weight: bold;

}

/* dropdown list */

.dropdown2 {

  margin: 0px auto;

  width: 100%;

  position: relative;

  -webkit-perspective: 800px;

  perspective: 800px;

  position: relative;

  z-index: 2;

  padding: 0;

  margin: 0;

}

.dropdown2.active .selLabel2:after {

  content: '\25B2';

}

.dropdown2.active .dropdown-list2 li:nth-child(1) {

  -webkit-transform: translateY(100%);

          transform: translateY(100%);

}

.dropdown2.active .dropdown-list2 li:nth-child(2) {

  -webkit-transform: translateY(200%);

          transform: translateY(200%);

}

.dropdown2.active .dropdown-list2 li:nth-child(3) {

  -webkit-transform: translateY(300%);

          transform: translateY(300%);

}

.dropdown2.active .dropdown-list2 li:nth-child(4) {

  -webkit-transform: translateY(400%);

          transform: translateY(400%);

}

.dropdown2 > span {

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  width: 100%;

  height: 40px;

  line-height: 40px;

  color: #fff;

  font-size: 14px;

  letter-spacing: 2px;

  background: #13bfefd1;

  display: block;

  padding: 0 50px 0 30px;

  position: relative;

  z-index: 9999;

  cursor: pointer;

  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;

  -webkit-transform-origin: 50% 0%;

  transform-origin: 50% 0%;

  -webkit-transition: -webkit-transform 300ms;

  transition: -webkit-transform 300ms;

  transition: transform 300ms;

  transition: transform 300ms, -webkit-transform 300ms;

  -webkit-backface-visibility: hidden;

  -webkit-touch-callout: none;

  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  font-family: 'Open Sans', sans-serif;

  user-select: none;

}

.dropdown2 > span:after {

  content: '\25BC';

  position: absolute;

  right: 0px;

  top: 15%;

  width: 50px;

  text-align: center;

  font-size: 12px;

  padding: 10px;

  height: 70%;

  line-height: 11px;

  border-left: 1px solid #ddd;

}

.dropdown2 > span:active {

  -webkit-transform: rotateX(45deg);

          transform: rotateX(45deg);

}

.dropdown2 > span:active:after {

  content: '\25B2';

}

.dropdown-list2 {

  position: absolute;

  top: 0px;

  width: 100%;

}

.dropdown-list2 li {

  display: block;

  list-style: none;

  left: 0;

  opacity: 1;

  -webkit-transition: -webkit-transform 300ms ease;

  transition: -webkit-transform 300ms ease;

  transition: transform 300ms ease;

  transition: transform 300ms ease, -webkit-transform 300ms ease;

  position: absolute;

  top: 0;

  width: 100%;

}

.dropdown-list2 li:nth-child(1) {

  background-color: #ed4d57;

  z-index: 4;

  -webkit-transform: translateY(0);

  transform: translateY(0);

  border-bottom: 1px solid #fff;

}

.dropdown-list2 li:nth-child(2) {

  background-color: #ed4d57;

  z-index: 3;

  -webkit-transform: translateY(3%);

  transform: translateY(3%);

}

.dropdown-list2 li:nth-child(3) {

  background-color: #ed4d57;

  z-index: 2;

  -webkit-transform: translateY(6%);

  transform: translateY(6%);

}

.dropdown-list2 li:nth-child(4) {

  background-color: #ed4d57;

  z-index: 1;

  -webkit-transform: translateY(9%);

  transform: translateY(9%);

}

.dropdown-list2 li span {

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

  -webkit-backface-visibility: hidden;

  -webkit-touch-callout: none;

  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;

  width: 100%;

  font-size: 14px;

  line-height: 40px;

  padding: 0 30px;

  display: block;

  color: #fff;

  cursor: pointer;

  letter-spacing: 2px;

  border-bottom: 1px solid #fff;

  font-family: 'Open Sans', sans-serif;

}



.switch {

  position: relative;

  display: inline-block;

  width: 60px;

  height: 34px;

}



.switch input {display:none;}



.slider {

  position: absolute;

  cursor: pointer;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  background-color: #ccc;

  -webkit-transition: .4s;

  transition: .4s;

  width: 40px;

  height: 30px;

}



.slider:before {

  position: absolute;

  content: "";

  height: 16px;

  width: 16px;

  left: 4px;

  bottom: 6px;

  background-color: white;

  -webkit-transition: .4s;

  transition: .4s;

}



.toogle-switch input:checked + .slider {

  background-color: #13bfef;

}



.toogle-switch input:focus + .slider {

  box-shadow: 0 0 1px #2196F3;

}



.toogle-switch input:checked + .slider:before {

  -webkit-transform: translateX(26px);

  -ms-transform: translateX(26px);

  transform: translateX(26px);

  left: -5px;

}



/* Rounded sliders */

.slider.round {

  border-radius: 34px;

}



.slider.round:before {

  border-radius: 50%;

}

.m-top-21{

    margin-top: 21px !important;

    margin-bottom: 10px;

}

.m-top-10{

    margin-left: 10px !important;

}

.m-1o{

    margin-top: -28px !important;

}

.checkout-form-list img{

    /* border: 1px solid #cccccc; */

    /* width: 37px; */

    /* height: 24px; */

    /* line-height: 8px; */

    position: relative;

    top: -12px;

}

.ownspan{

display: inline-block;

vertical-align: top;

position: relative;

top: 7px;

margin-right: 5px;

margin-left: 0px;

font-weight: 600;   

}

.ship-card{

    padding-top: 30px;  

}



/* Validation error */
select.form-control.error option {color: black;}

.payment .payment-way .error{

    color: red;

}

.payment .payment-way  input.error, .payment .payment-way  textarea.error{

    border: 1px solid red;

}



.payment-success{

    color: #13bfef;

    font-size: 14px;

}



.gateway-response{

    color: #000;

    font-size: 12px;

    font-family: 'Open Sans', sans-serif;

    font-size: 14px;

    margin-top: 20px;

}



.ui-state-error{

    padding: 12px .7em;

}



#stripe_error_message{

    margin-bottom: 10px;

}

.package-box {
    margin-bottom: 20px;

    position: relative;
}
.package-box label{margin: 5px 10px 5px 0;}

.package-error label {
    position: absolute;
    bottom: 0;
    left: 20px;
    top: -35px;
    height: 25px;
}
